/* CSS styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #1c436d;
    color: white;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ccc;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.filter {
    margin-bottom: 20px;
}

.filter label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.filter input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.tag-select {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-select .tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ddd;
    transition: background-color 0.3s ease;
}

.tag-select .tag.selected {
    background-color: #007bff;
    color: #fff;
}

.content {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-header {
    background: #f1f1f1;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.card-header h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.card-body {
    padding: 20px;
}

.card-footer {
    background: #f1f1f1;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.meta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.meta-item {
    margin-right: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.meta-title {
    font-weight: bold;
    color: #333;
}

.meta-value {
    color: #555;
}

.card .tags {
    margin-top: 10px;
}

.card .tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.search-container {
    position: relative;
    margin-top: 10px;
}

.search-field {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: monospace;
}

.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.copy-btn:active {
    background-color: #0056b3;
}

.copy-btn.clicked {
    background-color: #28a745;
    color: white;
}

.references {
    display: none;
    border: none;
    border-radius: 0 0 4px 4px;
    margin-top: 0;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.references a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin: 5px 0;
}

.references a:hover {
    text-decoration: underline;
}

.references ul {
    padding-left: 20px;
}

.references li {
    margin-bottom: 5px;
}

.references-btn {
    width: 100%;
    text-align: left;
    display: block;
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: #c3ced1;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 4px 4px 4px 4px;
    ;
    cursor: pointer;
}

.references-btn:active {
    background-color: #7c7c7c;
}

.card .type {
    margin: 10px 0;
    padding: 0px 0px;
    /* display: inline-block; */
    font-size: 14px;
    font-weight: bold;
    /* background-color: #007bff; */
    color: #3d3c3c;
    /* border-radius: 20px; */
}

hr.solid {
    border-top: 1px solid #adadad;
    border-radius: 5px;
}