<article class="card" data-tags="{{ tags_string }}" data-indexes="{{ indexes_string }}" data-type="{{ type }}">
    <header class="card-header">
        <h2>{{ name }}</h2>
        <button class="copy-json-btn" onclick="copyCardContentToJson(this.closest('.card'))">Copy Card</button>
        <hr class="solid">
        <div class="indexes">
            <span>Indexes: </span>
            {% for index in indexes %}
            <span class="index {{ index }}">{{ index }}</span>
            {% endfor %}
        </div>
        <div class="tags">
            <span>Tags: </span>
            {% for tag in tags %}
            <span class="tag {{ tag }}">{{ tag }}</span>
            {% endfor %}
        </div>
    </header>
    <div class="card-body">
        <p><strong>Description:</strong> {{ description }}</p>
        <div class="search-container">
            <textarea class="search-field" readonly>{{ search|escape }}</textarea>
            <button class="copy-btn" onclick="copyContent(event)">Copy</button>
        </div>
        {% if references %}
        <button class="references-btn" onclick="toggleReferences(this)">References</button>
        <div class="references">
            <ul>
                {% for ref in references %}
                <li><a href="{{ ref.url }}" target="_blank" rel="noreferrer">{{ ref.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <footer class="card-footer">
        <div class="meta">
            <div class="meta-item">
                <span class="meta-title">Last Updated:</span>
                <span class="meta-value">{{ last_updated }}</span>
            </div>
            <div class="meta-item">
                <span class="meta-title">Version:</span>
                <span class="meta-value">{{ version }}</span>
            </div>
            <div class="meta-item">
                <span class="meta-title">Source:</span>
                <span class="meta-value">{{ source }}</span>
            </div>
        </div>
    </footer>
</article>